:host {
  display: block;
  box-shadow: 0px -4px 10px 2px rgba(0, 0, 0, 0.1);
}

.about {
  background-color: #fffefd;
  border-bottom: 1px solid #dcd9d8;

  &__title {
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem 0;
    background: rgb(15, 85, 124);
    background: linear-gradient(
      315deg,
      rgba(15, 85, 124, 1) 0%,
      rgba(34, 108, 147, 1) 100%
    );
    color: white;
    box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
  }

  &__content {
    padding: 0 2rem 2rem 2rem;
    text-align: justify;
    line-height: 1.8;

    p {
      margin-bottom: 2.5rem;
    }

    p:first-child {
      margin-top: 0;
    }
  }
}

.about-body {
  dl {
    margin-bottom: 1rem;
    margin-top: 0;

    dt,
    dd {
      display: inline-block;
    }

    dt {
      font-weight: bold;
      margin-right: 0.5rem;
      color: #03324c;
      font-family: "Montserrat", sans-serif;
    }

    dd {
      margin: 0;
    }
  }

  figure {
    margin: 0.5rem auto;
    width: 8rem;
    background-color: #dfdfdf;
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid #cecece;
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.1);

    & img {
      width: 100%;
    }

    & figcaption {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 650px) {
  .about {
    display: flex;
    margin: 0 auto;

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 200px;
      flex-shrink: 0;

      margin: 0;
      box-shadow: 2px 0px 3px 2px rgba(0, 0, 0, 0.1);
      font-size: 2rem;
    }

    &__content {
      flex-grow: 1;
      padding: 5rem;
    }
  }
}

@media screen and (min-width: 550px) {
  .about-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    figure {
      margin: 0;
    }

    dl {
      margin-right: 1rem;
    }
  }
}
