:host {
  display: block;
}

.skills {
  background-color: #fffefd;
  border-bottom: 1px solid #dcd9d8;

  &__title {
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem 0;
    background: rgb(124, 28, 0);
    background: linear-gradient(
      315deg,
      rgba(124, 28, 0, 1) 0%,
      rgba(160, 36, 0, 1) 100%
    );
    color: white;
    box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  &__content {
    padding: 0 1rem 1rem 1rem;
    text-align: justify;

    p:first-child {
      margin-top: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;

  &__title {
    flex-grow: 1;
    background-color: #c9c5c6;
    border-radius: 5px;
    overflow: hidden;

    p {
      background: rgb(124, 28, 0);
      background: linear-gradient(
        315deg,
        rgba(124, 28, 0, 1) 0%,
        rgba(160, 36, 0, 1) 100%
      );
      color: white;
      padding: 1rem 0.5rem;
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
    }
  }

  &__value {
    flex: 0 0 3rem;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
    margin: 0;
  }
}

.skill:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 650px) {
  .skills {
    display: flex;
    flex-direction: row-reverse;

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 250px;
      flex-shrink: 0;
      flex-grow: 1;

      margin: 0;
      box-shadow: -2px 0px 3px 2px rgba(0, 0, 0, 0.1);
    }

    &__content {
      flex-grow: 1;
      padding: 2rem 1rem;
    }
  }

  .skill {
    margin-bottom: 1.5rem;
  }
}
